body{
    background-color: aquamarine;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 0 10px greenyellow;
    text-align: center;
    border-radius: 20px;

    p{
        font-size:  20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    input{
        padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border:  1px solid black;
    font-size:  20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

     button {
        margin-top: 10px;
        margin-right: 10px;
        padding: 1.1em 2em;
        background: none;
        border: 2px solid #fff;
        font-size: 15px;
        color: #131313;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 12px;
        background-color: #ecd448;
        font-weight: bolder;
        box-shadow: 0 2px 0 2px #000;
       }
       
        button:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 120%;
        background-color: #ff6700;
        top: 50%;
        transform: skewX(30deg) translate(-150%, -50%);
        transition: all 0.5s;
       }
       
        button:hover {
        background-color: #4cc9f0;
        color: #fff;
        box-shadow: 0 2px 0 2px #0d3b66;
       }
       
        button:hover::before {
        transform: skewX(30deg) translate(150%, -50%);
        transition-delay: 0.1s;
       }
       
        button:active {
        transform: scale(0.9);
       }
}

body:hover{
    background-color: aqua;
}